{% extends 'layout.html' %}
{% block body %}
<br><br>
<div class="body_container">
    <div class="home_text">
        <h1>Join over <b>5 developers</b> and interviewers.<br>Generate link for interviews, and start hiring.</h1>
    </div>
    <div class='interviewer_quote'>
        <h2>Want to <b>hire?</b></h2>
    </div>
    <div class='candidate_quote'>
        <h2>Want to get <b>hired?</b></h2>
    </div>
    <div class="email_container _1">
        <input type='email' class='email_field' id='candidate_mail'
            placeholder="Enter Candidate's Mail Id..     or Press ESC to close">
    </div>
    <div class="email_container _2">
        <input type='email' class='email_field' id='your_mail'
            placeholder="Enter Your Mail Id..     or Press ESC to close">
    </div>
    <div class="generate_container">
        {% if user.is_authenticated %}
        <h4><button class="btn button btn-success" onclick="generate_interview()">
                <b>Generate Interview</b></button>
            {% else %}
            <h4><a class="btn button btn-success" href="{% url 'login' %}">
                    <b>Generate Interview</b></a>
            </h4>
            {% endif %}
    </div>
    <div class="join_container">
        {% if user.is_authenticated %}
        <h4><button class="btn button btn-success" onclick="join_interview()">
                <b>Join Interview</b></button>
            {% else %}
            <h4><a class="btn button btn-success" href="{% url 'login' %}">
                    <b>Join Interview</b></a>
            </h4>
            {% endif %}
    </div>
</div>
<style>
    .button {
        padding: 10px 50px;
        font-size: 24px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgb(13, 110, 13);
        box-shadow: 0 4px 12px rgba(27, 169, 76, 0.5);
    }

    .body_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 5fr 4fr 2fr;
    }

    .home_text {
        text-align: center;
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }

    .home_text h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 48px;
    }

    .email_container {
        text-align: center;
        border-radius: 5px;
        padding: 20px;
        grid-column: 1 / span 2;
        grid-row: 3 / span 1;
    }

    .email_field {
        display: inline-block;
        width: 60%;
        padding: 12px 20px;
        margin: 8px 0;
        text-align: center;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0 4px 12px rgba(27, 169, 76, 0.5);
    }

    ._1 {
        display: none;
    }

    ._2 {
        display: none;
    }

    .interviewer_quote {
        display: block;
        text-align: center;
        border-radius: 5px;
        padding: 20px;
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .candidate_quote {
        display: block;
        text-align: center;
        border-radius: 5px;
        padding: 20px;
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    .generate_container {
        text-align: center;
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }

    .join_container {
        text-align: center;
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
    }
</style>

<script>
    var user_mail = {{ user_mail }};

    document.onkeydown = function (evt) {
        evt = evt || window.event;
        if (evt.keyCode == 27) { // 27 is for Escape/ 'ESC' button
            document.querySelector('._1').style.display = 'none';
            document.querySelector('._2').style.display = 'none';
            document.querySelector('.interviewer_quote').style.display = 'block';
            document.querySelector('.candidate_quote').style.display = 'block';
        }
    };

    document.querySelector('#candidate_mail').onkeyup = function (e) {
        if (e.keyCode == 13 || e.keyCode == 32) {
            var mail = document.querySelector('#candidate_mail').value;
            $.ajax({
                url: 'generate_interview/',
                method: 'post',
                data: {
                    'candidate_mail': mail
                },
                dataType: 'json',
                success: function (data) {
                    hashValue = data.hashedValue;
                    console.log("hashValue = " + hashValue);
                    var url = "{% url 'interview' 123 %}".replace('123', hashValue);
                    window.location = url;
                }
            });
        }
    }

    function join_interview() {
        $.ajax({
            url: 'join_interview/',
            method: 'get',
            success: function (data) {
                if (data.active == true) {
                    hashValue = data.hashedValue;
                    var url = "{% url 'interview' 123 %}".replace('123', hashValue);
                    window.location = url;
                }else{
                    alert("No active interview running");
                }
            }
        });
    }

    // document.querySelector('#your_mail').onkeyup = function (e) {
    //     if (e.keyCode == 13 || e.keyCode == 32) {
    //         var mail = document.querySelector('#your_mail').value;
    //         $.ajax({
    //             url: 'verify_mail/',
    //             method: 'post',
    //             data: {
    //                 'mail': mail
    //             },
    //             dataType: 'json',
    //             success: function (data) {
    //                 if (data.registered) {
    //                     window.location = "{% url 'login' %}";
    //                 } else {
    //                     window.location = "{% url 'signup' %}";
    //                 }
    //             }
    //         });
    //     }
    // };

    function generate_interview() {
        document.querySelector('._1').style.display = 'block';
        document.querySelector('._2').style.display = 'none';
        document.querySelector('.interviewer_quote').style.display = 'none';
        document.querySelector('.candidate_quote').style.display = 'none';
        document.querySelector('#candidate_mail').focus();
    }

    function candidate_mail_input() {
        document.querySelector('._1').style.display = 'none';
        document.querySelector('._2').style.display = 'block';
        document.querySelector('.interviewer_quote').style.display = 'none';
        document.querySelector('.candidate_quote').style.display = 'none';
        document.querySelector('#your_mail').focus();
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% endblock %}