<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <title>{% block title %}{% endblock %}HackerRank</title>
</head>

<body id='body'>
    <nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ]" role="navigation">
        <div class="[ container ]">
            <div class="[ navbar-header ]">
                <div class="[ animbrand ]">
                    <a class="[ navbar-brand ][ animate ] logo_name" href="{% url 'index' %}">HackerRank<img
                            src="{% static 'green-char.png' %}"></a>
                </div>
            </div>

            <div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
                <ul class="[ nav navbar-nav navbar-right ]">
                    {% block nav %}{% endblock %}
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                    <li><a type="button" id='theme_change' class="btn btn-outline-dark">Dark Theme</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="extended_body">
        {% block body %}{% endblock %}
    </div>
</body>

<style>
    .logo_name {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(0, 0, 0);
        font-size: 28px;
        font-weight: 700;
    }
</style>
<script>
    document.querySelector('#theme_change').onclick = function (e) {
        var btn = document.querySelector('#theme_change');
        if (btn.textContent == 'Dark Theme') {
            btn.textContent = "Light Theme"
            document.querySelector('#body').style.background = '#424242';
            document.querySelector('.logo_name').style.color = 'white';
            document.querySelector('.extended_body').style.color = 'white';
        } else {
            btn.textContent = "Dark Theme"
            document.querySelector('#body').style.background = '#FAFAFA';
            document.querySelector('.logo_name').style.color = 'black';
            document.querySelector('.extended_body').style.color = 'black';
        }
    };
</script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</html>